@model Invoice
@{
    ViewData["Title"] = SR["Invoice Edit"].Value;

}

<h1>@ViewData["Title"]</h1>

<form asp-action="@nameof(InvoiceController.Edit)" asp-controller="@nameof(InvoiceController).RemoveController()" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="row mt-3">
        <div class="form-group col-12 col-md-3">
            <label for="Number">@Model.DisplayNameFor(x => x.Number, localizerFactory)</label>
            <input asp-for="Number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <label for="DateTime">@Model.DisplayNameFor(x => x.DateTime, localizerFactory)</label>
            <input asp-for="DateTime" class="form-control" />
            <span asp-validation-for="DateTime" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <label for="Type" class="control-label">@Model.DisplayNameFor(x => x.Type, localizerFactory)</label>
            <select asp-for="Type" class="form-control">
                @foreach (var invoiceType in Enum.GetValues(typeof(InvoiceType)))
                {
                    <option value="@((int)invoiceType)">@invoiceType.ToLocalizedString(localizerFactory)</option>
                }
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <label for="Tax">@Model.DisplayNameFor(x => x.Tax, localizerFactory)</label>
            <input asp-for="Tax" class="form-control" />
            <span asp-validation-for="Tax" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <label for="MainInvoiceId" class="control-label">@Model.DisplayNameFor(x => x.MainInvoiceId, localizerFactory)</label>
            <select asp-for="MainInvoiceId" ds-controller="@nameof(InvoiceController).RemoveController()" ds-model-type="@typeof(Invoice)" ds-name="main-invoice-select"></select>
            <span asp-validation-for="MainInvoiceId" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="form-group col-12 col-md-3">
            <label for="BuyerId">@Model.DisplayNameFor(x => x.BuyerId, localizerFactory)</label>
            <select asp-for="BuyerId" ds-controller="@nameof(InvoiceController).RemoveController()" ds-model-type="@typeof(AppUser)" ds-name="buyer-select"></select>
            <span asp-validation-for="BuyerId" class="text-danger"></span>
        </div>
    </div>



    <div class="row mt-3">
        <div class="col-2">
            <button type="submit" class="btn btn-primary">@SR["Add Items"]</button>
        </div>
    </div>
</form>