
@{
    ViewData["Title"] = SR["Invoice List"].Value;

}

<h1>@ViewData["Title"]</h1>

@{
    var propertiesToShow = new List<string>()
    {
        nameof(Invoice.Number),
        nameof(Invoice.Buyer),
        nameof(Invoice.Seller),
        nameof(Invoice.DateTime),
        nameof(Invoice.Status),
        nameof(Invoice.Total),
    };
}
<table ds-model-type="typeof(Invoice)"
       ds-controller="@nameof(InvoiceController).Replace("Controller","")"
       ds-name="index"
       ds-rows-per-page="10"
       ds-post-columns="1"
       ds-properties-to-show="propertiesToShow"></table>


@section Scripts{
    <script>
        $(document).on('click','.btn-invoice-delete',(e)=>{
            var id = $(e.currentTarget).data('id');

            var formData = new FormData();
            formData.append('id',id)

            $.ajax({
                url: '@Url.ActionLink(nameof(InvoiceController.DeleteInvoice), nameof(InvoiceController).RemoveController())',
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data, status) {
                    if(Boolean(data.success)){
                        DSGetTableData($('#index'));
                        Toast('@SR["Success"]','@SR["Changes applied successfuly."]','success');
                    }else{
                        Toast('@SR["Fail"]','@SR["Failed to apply changes."]','danger');
                    }
                },
                error: function (xhr, desc, err) {
                        Toast('@SR["Fail"]','@SR["Check your internet connection"]','danger');
                }
            })
        });
    </script>
}